# <font color=blue>Assignments for "Data Cleaning - Missing Values"</font>

In this assignment, you are going to use a dataset related to the US education system. Please download the ([dataset](https://www.kaggle.com/noriuk/us-education-datasets-unification-project/home)) from Kaggle. You are going to use `states_all.csv` within this dataset.

To complete this assignment, submit the Github link of the Jupyter notebook file containing solutions to the questions below. You can talk to your mentor on your head or ask Slack at office time.

**(1)** Find the types of variables in the dataset and the missing (null) ratio of each variable.

In [14]:
import numpy as np
import pandas as pd

pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [15]:
states = pd.read_csv('states_all.csv')
df = states.copy()
states.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.00,304177.00,1659028.00,715680.00,2653798.00,1481703.00,...,57948.00,58025.00,41167.00,NaN,NaN,731634.00,208.00,252.00,207.00,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.00,106780.00,720711.00,222100.00,972488.00,498362.00,...,9748.00,8789.00,6714.00,NaN,NaN,122487.00,NaN,NaN,NaN,NaN
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.00,297888.00,1369815.00,1590376.00,3401580.00,1435908.00,...,55433.00,49081.00,37410.00,NaN,NaN,673477.00,215.00,265.00,209.00,NaN
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.00,178571.00,958785.00,574603.00,1743022.00,964323.00,...,34632.00,36011.00,27651.00,NaN,NaN,441490.00,210.00,256.00,211.00,NaN
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.00,2072470.00,16546514.00,7641041.00,27138832.00,14358922.00,...,418418.00,363296.00,270675.00,NaN,NaN,5254844.00,208.00,261.00,202.00,NaN

In [16]:
states.info() #types of variables

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1224 non-null   float64
 4   TOTAL_REVENUE                 1275 non-null   float64
 5   FEDERAL_REVENUE               1275 non-null   float64
 6   STATE_REVENUE                 1275 non-null   float64
 7   LOCAL_REVENUE                 1275 non-null   float64
 8   TOTAL_EXPENDITURE             1275 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 11  OTHER_EXPENDITURE             1224 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 13  GRADES_PK_G                   1542 non-null   float64
 14  GRADES_KG_G                   1632 non-null   float64
 15  GRADES_4_G                    1632 non-null   float64
 16  GRADES_8_G                    1632 non-null   float64
 17  GRADES_12_G                   1632 non-null   float64
 18  GRADES_1_8_G                  1020 non-null   float64
 19  GRADES_9_12_G                 1071 non-null   float64
 20  GRADES_ALL_G                  1632 non-null   float64
 21  AVG_MATH_4_SCORE              565 non-null    float64
 22  AVG_MATH_8_SCORE              602 non-null    float64
 23  AVG_READING_4_SCORE           650 non-null    float64
 24  AVG_READING_8_SCORE           562 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

25 columns are numerical and 2 columns are object.

In [17]:
states.describe().T

,count,mean,std,min,25%,50%,75%,max
YEAR,1715.00,2002.08,9.57,1986.00,1994.00,2002.00,2010.00,2019.00
ENROLL,1224.00,917541.57,1066514.20,43866.00,264514.50,649933.50,1010532.00,6307022.00
TOTAL_REVENUE,1275.00,9102044.93,11759620.23,465650.00,2189503.50,5085826.00,10845163.00,89217262.00
FEDERAL_REVENUE,1275.00,767779.86,1146991.51,31020.00,189957.50,403548.00,827932.00,9990221.00
STATE_REVENUE,1275.00,4223742.90,5549734.82,0.00,1165776.00,2537754.00,5055547.50,50904567.00
LOCAL_REVENUE,1275.00,4110522.16,5489561.97,22093.00,715121.00,2058996.00,4755293.00,36105265.00
TOTAL_EXPENDITURE,1275.00,9206242.12,11992791.01,481665.00,2170404.00,5242672.00,10744201.50,85320133.00
INSTRUCTION_EXPENDITURE,1275.00,4768010.48,6300569.34,265549.00,1171336.50,2658253.00,5561959.00,43964520.00
SUPPORT_SERVICES_EXPENDITURE,1275.00,2682586.52,3357214.50,139963.00,638076.00,1525471.00,3222924.50,26058021.00
OTHER_EXPENDITURE,1224.00,429950.93,534789.31,11541.00,103449.25,271704.00,517222.25,3995951.00
CAPITAL_OUTLAY_EXPENDITURE,1275.00,903467.45,1329473.47,12708.00,181507.00,510428.00,966148.00,10223657.00
GRADES_PK_G,1542.00,17840.96,30016.60,96.00,2199.75,8258.00,22691.75,256222.00
GRADES_KG_G,1632.00,68810.96,80671.03,5122.00,19029.75,48122.00,78864.25,535379.00
GRADES_4_G,1632.00,69166.51,79957.99,4577.00,18971.50,49087.00,78504.25,493415.00
GRADES_8_G,1632.00,68106.54,77965.85,3371.00,19594.25,47880.00,78976.00,500143.00
GRADES_12_G,1632.00,58420.87,67438.53,2572.00,16076.50,39408.00,69397.25,498403.00
GRADES_1_8_G,1020.00,577954.72,675783.66,37698.00,164925.00,405111.50,643975.25,3929869.00
GRADES_9_12_G,1071.00,282069.08,330709.79,13530.00,80608.00,186919.00,322328.00,2013687.00
GRADES_ALL_G,1632.00,913969.49,1055892.95,68449.00,248083.25,645805.00,1043420.50,6441557.00
AVG_MATH_4_SCORE,565.00,236.33,9.29,192.00,232.00,238.00,242.00,253.00
AVG_MATH_8_SCORE,602.00,278.28,10.34,231.00,272.00,280.50,286.00,301.00
AVG_READING_4_SCORE,650.00,218.81,7.68,179.00,215.00,220.00,224.00,237.00
AVG_READING_8_SCORE,562.00,263.56,6.61,236.00,260.00,265.00,268.00,280.00

In [19]:
(states.isnull().sum()*100/states.shape[0]).sort_values(ascending=False)  #missing ratio of each variable

AVG_READING_8_SCORE            67.23
AVG_MATH_4_SCORE               67.06
AVG_MATH_8_SCORE               64.90
AVG_READING_4_SCORE            62.10
GRADES_1_8_G                   40.52
GRADES_9_12_G                  37.55
ENROLL                         28.63
OTHER_EXPENDITURE              28.63
SUPPORT_SERVICES_EXPENDITURE   25.66
CAPITAL_OUTLAY_EXPENDITURE     25.66
INSTRUCTION_EXPENDITURE        25.66
TOTAL_EXPENDITURE              25.66
LOCAL_REVENUE                  25.66
STATE_REVENUE                  25.66
FEDERAL_REVENUE                25.66
TOTAL_REVENUE                  25.66
GRADES_PK_G                    10.09
GRADES_KG_G                     4.84
GRADES_4_G                      4.84
GRADES_8_G                      4.84
GRADES_12_G                     4.84
GRADES_ALL_G                    4.84
STATE                           0.00
YEAR                            0.00
PRIMARY_KEY                     0.00
dtype: float64

**(2)** You may have noticed that our data has a year column. For now, forget about the year data and assume that each observation was made in the same year. Consider how you can fill in missing values for each variable. Filling in the missing values with a value is meaningful for which variables and for which ones?

Firstly , I would check the missing value ratio of each variable . I drop columns with more than 20 percent null values but keep in mind that domain knowledge is also critical here..Then , I would check the distributions of columns with less than 20 percent null values.I prefer to fill in the columns that fit the normal distribution with the mean, I fill in the other columns with the median

**(3)** Now it's time to consider the factor of time! Review your answer in question 2 and fill in the missing data based on the values observed during that year. For example, if you want to fill a value with an average value, calculate the average of that year.

In [20]:
for column in states.columns[3:]:
    for year in states['YEAR'].unique():
        if (states[column].skew() <= -1) | (states[column].skew() >= 1):
            states[column].fillna(states[states['YEAR'] == year][column].median(), inplace=True)
        else:
            states[column].fillna(states[states['YEAR'] == year][column].mean(), inplace=True)

In [21]:
states.describe().T

,count,mean,std,min,25%,50%,75%,max
YEAR,1715.00,2002.08,9.57,1986.00,1994.00,2002.00,2010.00,2019.00
ENROLL,1715.00,800810.23,919565.69,43866.00,464688.00,509814.00,869448.50,6307022.00
TOTAL_REVENUE,1715.00,7478512.68,10508620.78,465650.00,2773959.00,2906573.00,8165744.00,89217262.00
FEDERAL_REVENUE,1715.00,625093.42,1018280.77,31020.00,211627.00,253889.00,673280.00,9990221.00
STATE_REVENUE,1715.00,3484541.90,4947455.28,0.00,1342539.00,1546921.00,3837822.00,50904567.00
LOCAL_REVENUE,1715.00,3369064.90,4898291.27,22093.00,1162579.50,1220524.00,3484107.50,36105265.00
TOTAL_EXPENDITURE,1715.00,7587854.87,10700437.66,481665.00,2898210.00,2930393.00,8220253.00,85320133.00
INSTRUCTION_EXPENDITURE,1715.00,3924876.20,5618510.40,265549.00,1481703.00,1534954.00,4133617.50,43964520.00
SUPPORT_SERVICES_EXPENDITURE,1715.00,2199736.80,3008907.92,139963.00,800570.00,871613.00,2442635.00,26058021.00
OTHER_EXPENDITURE,1715.00,347886.96,469966.94,11541.00,143312.00,143312.00,407999.50,3995951.00
CAPITAL_OUTLAY_EXPENDITURE,1715.00,721467.43,1187352.59,12708.00,194081.00,249670.00,812272.00,10223657.00
GRADES_PK_G,1715.00,16495.60,28743.66,96.00,2536.50,5901.00,19689.00,256222.00
GRADES_KG_G,1715.00,67659.08,78859.25,5122.00,20944.00,45010.00,75726.00,535379.00
GRADES_4_G,1715.00,68222.75,78110.25,4577.00,20486.50,49666.00,77052.00,493415.00
GRADES_8_G,1715.00,66989.47,76215.91,3371.00,20518.50,45025.00,76719.50,500143.00
GRADES_12_G,1715.00,57264.78,65984.98,2572.00,17949.00,38013.00,68023.00,498403.00
GRADES_1_8_G,1715.00,504630.91,528583.66,37698.00,315810.50,397019.00,481590.50,3929869.00
GRADES_9_12_G,1715.00,246216.47,265357.84,13530.00,145790.00,186592.00,252807.50,2013687.00
GRADES_ALL_G,1715.00,899385.96,1032039.23,68449.00,280001.00,612635.00,1002840.50,6441557.00
AVG_MATH_4_SCORE,1715.00,224.71,9.73,192.00,219.00,219.00,231.00,253.00
AVG_MATH_8_SCORE,1715.00,270.96,8.16,231.00,267.00,267.00,274.00,301.00
AVG_READING_4_SCORE,1715.00,217.68,4.81,179.00,217.00,217.00,217.00,237.00
AVG_READING_8_SCORE,1715.00,261.17,4.14,236.00,260.00,260.00,260.00,280.00

**(4)** This time, fill in the missing values by interpolating.

In [22]:
df.interpolate(method='linear', limit_direction='both', inplace=True)

In [23]:
df.isnull().sum()

PRIMARY_KEY                     0
STATE                           0
YEAR                            0
ENROLL                          0
TOTAL_REVENUE                   0
FEDERAL_REVENUE                 0
STATE_REVENUE                   0
LOCAL_REVENUE                   0
TOTAL_EXPENDITURE               0
INSTRUCTION_EXPENDITURE         0
SUPPORT_SERVICES_EXPENDITURE    0
OTHER_EXPENDITURE               0
CAPITAL_OUTLAY_EXPENDITURE      0
GRADES_PK_G                     0
GRADES_KG_G                     0
GRADES_4_G                      0
GRADES_8_G                      0
GRADES_12_G                     0
GRADES_1_8_G                    0
GRADES_9_12_G                   0
GRADES_ALL_G                    0
AVG_MATH_4_SCORE                0
AVG_MATH_8_SCORE                0
AVG_READING_4_SCORE             0
AVG_READING_8_SCORE             0
dtype: int64

In [24]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
YEAR,1715.00,2002.08,9.57,1986.00,1994.00,2002.00,2010.00,2019.00
ENROLL,1715.00,700740.08,969300.99,43866.00,94511.00,450751.00,869448.50,6307022.00
TOTAL_REVENUE,1715.00,7291406.21,10596893.31,465650.00,2044669.00,2906573.00,8165744.00,89217262.00
FEDERAL_REVENUE,1715.00,602358.37,1028205.09,31020.00,123012.00,253889.00,673280.00,9990221.00
STATE_REVENUE,1715.00,3441788.78,4966475.10,0.00,1175899.00,1546921.00,3837822.00,50904567.00
LOCAL_REVENUE,1715.00,3247259.05,4955803.69,22093.00,745758.00,1125436.00,3484107.50,36105265.00
TOTAL_EXPENDITURE,1715.00,7366192.11,10803799.31,481665.00,2034229.00,2930393.00,8220253.00,85320133.00
INSTRUCTION_EXPENDITURE,1715.00,3781149.11,5685970.80,265549.00,921494.00,1534954.00,4133617.50,43964520.00
SUPPORT_SERVICES_EXPENDITURE,1715.00,2144609.80,3035900.51,139963.00,585700.00,871613.00,2442635.00,26058021.00
OTHER_EXPENDITURE,1715.00,327655.43,480699.27,11541.00,53570.00,154175.00,407999.50,3995951.00
CAPITAL_OUTLAY_EXPENDITURE,1715.00,788229.67,1162871.17,12708.00,260813.00,454302.00,812272.00,10223657.00
GRADES_PK_G,1715.00,17088.77,29169.49,96.00,1891.00,7865.00,20857.50,256222.00
GRADES_KG_G,1715.00,65842.23,79787.67,5122.00,13925.50,45010.00,75726.00,535379.00
GRADES_4_G,1715.00,66183.86,79112.03,4577.00,14956.00,46094.00,77052.00,493415.00
GRADES_8_G,1715.00,65153.36,77174.47,3371.00,14656.50,44641.00,76719.50,500143.00
GRADES_12_G,1715.00,55903.48,66726.32,2572.00,12923.50,38013.00,68023.00,498403.00
GRADES_1_8_G,1715.00,429183.04,565808.48,37698.00,58998.00,306944.00,481590.50,3929869.00
GRADES_9_12_G,1715.00,261380.96,291813.71,13530.00,91063.57,208148.00,287943.00,2013687.00
GRADES_ALL_G,1715.00,874298.33,1044932.47,68449.00,189272.00,597096.00,1002840.50,6441557.00
AVG_MATH_4_SCORE,1715.00,232.92,9.30,192.00,224.25,235.00,240.31,253.00
AVG_MATH_8_SCORE,1715.00,274.69,8.69,231.00,269.00,274.00,281.00,301.00
AVG_READING_4_SCORE,1715.00,218.51,6.12,179.00,215.00,219.19,222.57,237.00
AVG_READING_8_SCORE,1715.00,261.54,5.95,236.00,255.00,261.71,266.15,280.00

**(5)** Compare your answers on the second, third and fourth questions. Do you notice a meaningful difference?

My answers to questions 2 and 3 are close to each other.I have preferred to fill in the columns with high skewness coefficients with the median instead of the mean.In last question I have had to use limit direction both option to fill all values. The interpolation method also gave good results because the data were in order.So the results of the two methods are close to each other.